html {
  scroll-behavior: smooth;
}

body {
overflow-x: hidden;
font-family: 'Open Sans', sans-serif;
-webkit-font-smoothing: antialiased;
margin: 0;
}

.header {
  height: 100px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex !important;
}

.align-center {
  align-items: center !important;
}

.header-icon {
  font-size: 1.8rem;
  margin-right: 40px;
  color: black;
}

.nav-bar {
  display: block !important;
}

.header-nav {
  list-style-type: none;
  font-size: 1.2rem;
}

.header-nav li {
  display: inline;
  margin-right: 40px;
}

.header-nav li a {
  text-decoration: none;
  color: grey;
  transition: .3s;
}

.header-nav li a:hover {
  color: black;
}

.mobile-menu-btn, .mobile-menu-close {
  background: none;
  padding: 0;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  margin-left: auto;
}

.mobile-menu-close {
  margin-right: 35px;
}

.white {
  color: white;
}

.mobile-menu {
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  width: 0px;
  overflow:hidden;
  transition: .3s;
}

.mobile-menu-header {
  height: 60px;
  display: flex !important;
}

.mobile-menu-nav {
  padding: 0;
  position: absolute;
  bottom: 20px;
  margin: 0;
  font-size: 2rem;
}

.mobile-menu-nav li {
  margin-bottom: 1.5em;
}

.jumbotron {
  height: 90vh;
  width: 100vw;
  overflow: hidden;
}

.intro {
  padding-left: 60px;
  padding-top: 20vh;
  width: 35vw;
  display: inline-block;
}

.intro h1 {
  font-size: 5rem;
  margin-bottom: 0px;
}

.intro h2 {
  margin-top: 5px;
}

.header-link {
  color: #2646FF;
  text-decoration: none;
  transition: .3s;
}

.header-link:hover{
  color: black;
}


.img-container {
  padding-right: 60px;
  width: 50vw;
  display: inline-block;
  float: right;
}

.image-stack::after {
  content: ' ';
  display: table;
  clear: both;
}

.image-stack__item--top {
    float: left;
    width: 60%;
    height: auto;
    margin-right: -100%;
    padding-top: 30%;
    position: relative;
}

.image-stack__item--bottom {
    float: right;
    width: 75%;
}

img {
  width: 100%;
}

.section {
  padding: 85px;
}

.service-container {
  background-color: #010101;
  color: #969696;
  line-height: 1.6em;
  overflow: auto;
  padding-bottom: 20px;
}

.left-panel {
  display: inline-block;
  float: left;
  height: 100%;
}

.right-panel {
  display: inline-block;
  float: right;
  width: 60vw;
  height: 100%;
  display: flex;
}

.column {
  width: 40%;
  height: 150px;
  display: inline-block;
  margin-right: 60px;
  margin-bottom: 65px;
  font-size: 1.3rem;
  flex: 1;
  padding:16px;
  vertical-align: text-top;
}

.work-container{
  overflow: auto;
  line-height: 1.6em;
}

.half {
  width: 40vw;
}

.platforms {
  list-style-type: none;
  line-height: 2.4em;
  font-weight: bold;
  width: 100%;
  padding-left: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.1rem;
  margin-top: -15px;
}


.blue {
  color:#2646FF;
}

.examples-container{
    background-color: #010101;
    color: #969696;
    line-height: 1.6em;
    overflow: auto;

}

.contact-container{
    overflow: auto;
}


.row-img {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.column-img{
  width: 50%;
  height: auto;
  flex: 50%;
  font-size: 2rem;
  line-height: 2.5rem;

}

.column-img img{
  width: 80%;
  height: auto;
  text-align: center;
  transition: .3s;
}

.column-img img:hover{
  transform: scale(1.1);
}

.column-img p{
  padding: 15px;
}

.mobile {display: none;}

.mobile-vis{display: none;}

@media (min-width: 768px) and (max-width: 1567px){
  .column{
    margin-right: 40px;
  }

}

@media (min-width: 768px) and (max-width: 1239px){
 .left-panel{
   width: 95%;
 }
 .right-panel{ float: left;
 width: 95%;}


.right-panel .column{
  width: 40%;
  float: left;
  padding-left: 0;
}
}


@media (min-width: 768px){
  .md-none {
    display: none !important;
  }
}

@media (max-width: 768px){
  .body{
    margin: 0;

  }
  .d-none {
    display: none !important;
  }
  .header {
    height: 60px;
    padding: 0 15px;
  }
  .img-container{
    display: none;
  }
  .intro{
    width: 80vw;
    padding-left: 35px;
  }
  .intro h1{
    font-size: 3rem;
  }
  .left-panel h1{
    font-size: 2rem !important;
  }
  .column{
    width: 95%;
    padding-bottom: 25px;
    margin-right: 0px;
  }
  .work-container h1{
    font-size: 2rem;
    line-height: 3rem;
  }
  .half{
    width: 80vw;
  }
  .row-img{flex-direction: column;
  }
  .column-img{
    width: 100%;
    font-size: 1rem;
    line-height: 1.1rem;
  }
  .column-img img{
    width: 100%;
  }

  .column-img p{
    font-size: 1.3rem;
    line-height: 1.6rem;
  }

  .desktop{
    display: none;
  }
  .mobile{display: block;}
  .left-panel a {
    font-size: 1.3rem !important;
  }

  .mobile-menu a{
    text-decoration: none;
    color: white;
  }

  .section{
    padding: 25px;
    padding-bottom: 55px;
  }

  .right-panel{
    float: left !important;
    width: 80vw;
  }

  .column{
    padding-left: 0px;
  }

  .column h2{
    line-height: 2rem;
  }

  .service-container{
    padding-bottom: 65px;
  }

  .mobile-vis{display: inline-block;}
}
